.batch-container {
    flex-grow: 1;
    padding: 1rem;
    width: 100%;
    overflow-x: auto;
}

.batch-details h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.batch-data {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.batch-table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
    min-width: 800px;
}

.batch-table th {
    padding: 1rem;
    font-size: 1.2rem;
    border: 2px solid black;
    user-select: none;
}

.batch-table td {
    padding: 1rem;
    text-align: center;
    border: 2px solid black;
    font-size: 1rem;
}

.batch-table .comment {
    text-align: justify;
}

.chart-container {
    width: 100%;
    padding: 2rem;
}

.chart-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
}

.chart {
    width: 100%;
    min-width: 300px;
}

.chart img {
    width: 100%;
    height: auto;
    max-height: 25rem;
}

.loading-align {
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    height: 100%;
    width: 100%;
}

.batch-positive {
    color: green;
    text-transform: capitalize;
    font-weight: bold;
}

.batch-negative {
    color: red;
    text-transform: capitalize;
    font-weight: bold;
}

.batch-neutral {
    color: grey;
    text-transform: capitalize;
    font-weight: bold;
}

.loading {
    margin: auto 0;
}

.batch-data p:last-child {
    font-size: 1.25rem;
}