.dashboard-sidebar {
    width: 300px;
    height: 100vh;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 2px 0 5px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    position: sticky;
    top: 0;
}

/* Sidebar Header */
.dashboard-sidebar h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: bold;
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
}


.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.dash i {
    margin-right: 10px;
}

.dash-logout {
    text-align: center;
    background-color: rgb(252, 77, 77);
}

.dash-logout:hover {
    background-color: rgb(219, 44, 44);
    color: black;
}