

.multi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 8rem;
    color: #fff;
    gap: 2rem;
    border-bottom: 2px solid grey;
}

.multi-title {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.multi-title i {
    color: #000;
    font-size: 3rem;
}

.multi-title h1 {
    color: #000;
    font-size: 3rem;
}

.multi-form {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}

.multi-file {
    width: 15rem;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #000;
    transition: all 0.3s ease-in-out;
    font-family: "sub-heading";
}

.multi-file:hover {
    background-color: #fff;
    color: #252525;
    border-color: #252525;
}

.hidden-file {
    display: none;
}





.submit-top:hover .multi-submit {
    transform: translateY(-0.33em);
}

.submit-top:active .multi-submit {
    transform: translateY(0);
}

.multi-comments-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 8rem;
}

.multi-comments-section h1 {
    color: #000;
    font-size: 3rem;
}

.multi-form p {
    color: #252525;
}




.multi-table th {
    padding: 1rem;
    border: 1px solid black;
    font-size: 1.2rem;
    user-select: none;
}

.multi-table td {
    padding: 1rem;
    text-align: center;
    border: 1px solid black;
    font-size: 1rem;
}

.multi-table .comment {
    text-align: justify;
}



.multi-chart h3 {
    font-size: 2rem;
}

.chart {
    display: flex;
    justify-content: space-around;
}

.chart img {
    height: 25rem;
}




