/* General Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: #fff;
    position: sticky;
    top: 0;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.logo img {
    height: 2rem;
    margin-top: 10px;
}


.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-toggle {
    display: none;
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

/* Buttons */
.nav-btn {
    border: none;
    cursor: pointer;
    border-radius: 0.75em;
    background: black;
    font-size: 1rem;
    text-decoration: none;
}

.btn-top {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75em 1.5em;
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 0.75em;
    transition: transform 0.2s;
    transform: translateY(-0.22em);
}

.nav-btn:hover .btn-top {
    transform: translateY(-0.33em);
}

.nav-btn:active .btn-top {
    transform: translateY(0);
}


/* Profile Dropdown */
.home-profile {
    border: none;
    cursor: pointer;
    border-radius: 0.75em;
    background: black;
    font-size: 1rem;
    text-decoration: none;
}

.home-profile i {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.65rem 1.5rem;
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 0.75em;
    transition: transform 0.2s;
    transform: translateY(-0.22em);
}

.home-profile:hover i {
    transform: translateY(-0.33em);
}

.home-profile:active i {
    transform: translateY(0);
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 180px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.home-profile.active .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
}

.dropdown-item {
    padding: 12px;
    font-size: 14px;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
    color: #333;
}

.username {
    font-weight: bold;
    cursor: default;
    padding: 12px;
    color: #000;
    text-align: center;
    background-color: #f9f9f9;
    border-bottom: 1px solid #dadada;
}

.clickable {
    cursor: pointer;
}

.dropdown-menu button {
    background-color: white;
    padding: 12px;
    border: none;
    font-size: 14px;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
}

.dropdown-menu button:hover {
    background-color: #f0f0f0;
}




/* Responsive */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 20px 10px;
    }

    .navigation {
        display: none;
        flex-direction: column;
        gap: 1rem;
    }

    .navigation.visible {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }

    .nav-buttons {
        flex-direction: column;
    }
}