/* Header Styles */
.header {
    display: flex;
    background-color: #fff;
    /* Light grey to contrast with white background */
    align-items: center;
    padding: 1.25rem 1.5rem;
    position: sticky;
    top: 0;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    /* border-bottom: 2px solid rgba(128, 128, 128, 0.500); */
    justify-content: space-between;
}

/* Logo Styles */
.logo img {
    height: 2rem;
    margin-left: 2rem;
}

/* Navigation Styles */
.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-link {
    display: inline-block;
    font-size: 1.3rem;
    color: #000000;
    /* Dark grey for links */
    text-decoration: none;
    margin: 0 1.5rem;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    font-family: 'heading';
}

.nav-link:hover {
    transform: translateY(-5px);
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    /* Softer shadow */
}

/* Nav toggle visibility (hamburger icon) */
.nav-toggle {
    display: none;
}

.cta-button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/* Dropdown Menu Styling */
.home-profile {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    /* border: 2px solid black; */
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    padding: 1rem;
    right: 0;
    background-color: #fff;
    /* box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-direction: column;
    width: 150px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    /* Only the dropdown container transitions */
}

.home-profile:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
    /* Only opacity is transitioned */
}

/* Prevent username from being clickable */
.dropdown-item {
    padding: 10px;
    text-align: left;
    font-size: medium;
    color: #000;
    text-decoration: none;
    font-family: "sub-heading";

}

.username {
    font-family: "heading";
    margin-bottom: 10px;
    padding: 0 10px;
    cursor: default;
}

.clickable {
    cursor: pointer;
    transition: none;
}

.clickable:hover {
    background-color: #f1f1f1;
}


.home-profile i {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    transform: translateY(-0.1em);
    border: 2px solid black;
    transition: 200ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.home-profile:hover i {
    transform: translateY(-0.2em);

}

.home-profile:active i {
    transform: translateY(0);

}



.nav-buttons {
    display: flex;
    margin: 0 2rem 0 0;
    /* background-color: red; */
    gap: 1rem;
}





.nav-btn {
    --button_radius: 0.75em;
    --button_color: #ffffff;
    --button_outline_color: #000000;
    font-size: 1rem;
    /* font-family: "sub-heading"; */
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.btn-top {
    display: flex;
    gap: 0.5rem;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: 200ms cubic-bezier(0.3, 0.7, 0.4, 1);

}

.nav-btn:hover .btn-top {
    transform: translateY(-0.3em);
}

.nav-btn:active .btn-top {
    transform: translateY(0);
}




/* Responsive Styles */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 20px 10px;
    }

    .logo img {
        margin-left: 0;
    }

    .navigation {
        display: none;
        flex-direction: column;
        margin-top: 1rem;
    }

    .navigation.visible {
        display: flex;
    }

    .nav-toggle {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        cursor: pointer;
    }

    .nav-toggle span {
        display: inline-block;
        margin: 0;
        padding: 5px;
    }

    .nav-toggle span.hide {
        display: none;
    }

    .cta-button {
        gap: 0.5rem;
    }

    .home-profile {
        width: 2.3rem;
        height: 2.3rem;
        font-size: 1.3rem;
    }

    .dropdown-menu {
        width: 100%;
        /* Make dropdown full width in mobile view */
    }
}