.single-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    background: #F7F4EF;
    /* Project's main color */
    font-family: 'Poppins', sans-serif;
    color: #111;
    text-align: center;
    padding: 20px;
    margin-top: 8rem;
}

.single-comment h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "heading";
    letter-spacing: 1px;
    font-weight: 600;
    color: #222;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 6vh 0 6vh 0;
}

.single-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-height: 30vh;
    max-width: 700px;
}

.single-input {
    width: 20rem;
    height: 2.5rem;
    padding: 1.5rem 1rem;
    border: 2px solid #000;
    border-radius: 0.5rem;
    font-family: "sub-heading";
    transition: 0.3s ease-in;
    color: #000;
    font-size: 1rem;
}

.single-input::placeholder {
    color: #000;
    opacity: 0.5;
}

.single-input:hover {
    background-color: #fff;
}

.single-input:focus {
    border: 2px solid #fff;
}


/* Analysis Result */
.analysis-result {
    margin-top: 8vh;
    padding: 25px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #111;
}

/* Sentiment Colors */
.single-positive {
    color: #008000;
    /* Dark Green */
    font-weight: bold;
}

.single-negative {
    color: #cc0000;
    /* Dark Red */
    font-weight: bold;
}

.single-neutral {
    color: #666;
    /* Gray */
    font-weight: bold;
}
