.yt-container {

    display: flex;
    flex-direction: column;
    padding: 5rem 8rem;
    color: #000;
    border-bottom: 2px solid grey;
}

.yt-title {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.yt-title i {
    font-size: 3rem;
}

.yt-title h1 {
    color: #000;
    font-size: 3rem;
}

.yt-form {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}

.yt-label {
    font-family: "sub-heading";
    align-self: baseline;
    font-size: 1.5rem;
}


.yt-comments-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 8rem;
}

.yt-comments-section h1 {
    color: #000;
    font-size: 3rem;
}

.filter-comment {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0;
    align-items: center;
}

.filter-comment select {
    border-radius: 0.5rem;
    padding: 0.5rem;
}